html, body, #root {
    height: 100%;
    margin: 0;
}

.page-wrap{
  width: 100%;
  min-height: 100vh;   /* instead of only height: 100% */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.page{
  position: relative;
  width: 1920px;
  height: 1080px;
  transform-origin: center center;
  transform: scale(var(--scale, 1));
}

.page{
    --circle-col-width: 127px;
    --circle-col-gap: 50px;
    position: relative;
    width: 1920px;
    height: 1080px;
    transform-origin: center center;
    transform: scale(var(--scale, 1));
}

@media (max-width: 768px) {
  .page{
    --circle-col-width: 60px;
    --circle-col-gap: 16px;
    padding: 0 16px 16px;
  }
}
